__pycache__/bot.cpython-310.pyc
__pycache__/bot.cpython-311.pyc
__pycache__/leagueScraper.cpython-310.pyc
__pycache__/leagueScraper.cpython-311.pyc
__pycache__/RequestExceptions.cpython-310.pyc
__pycache__/RequestExceptions.cpython-311.pyc
.env
TODO.txt
